[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-coverage = "*"
mongomock = "*"
pymongo = "*"
python-dotenv = "*"
flask = "*"
pika = "*"

[packages]

[requires]
python_version = "3.8"
